@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap');
$font-family: 'Cormorant Garamond',
serif;
$font-size:25px;
* {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
     ::-webkit-scrollbar-thumb {
        background: #91B40D;
    }
    .main {
        .header {
            .searchArea {
                display: none;
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                i {
                    right: 40px;
                    top: 40px;
                    font-size: 35px;
                    color: white;
                }
                i:hover {
                    color: #df4759;
                    cursor: pointer
                }
                .form {
                    position: relative;
                    left: auto;
                    top: 300px;
                    left: 200px;
                    span {
                        display: flex;
                        font-family: 'Cormorant Garamond', serif;
                        font-size: 30px;
                        width: 165px;
                        height: 65px;
                        background-color: black;
                        justify-content: center;
                        align-items: center;
                        font-weight: 100;
                        background-color: white;
                        border: 2px solid white;
                        color: black;
                        font-weight: bold;
                    }
                    span:hover {
                        background-color: rgb(21, 87, 21);
                        color: white;
                    }
                    input {
                        font-family: 'Cormorant Garamond', serif;
                        font-size: 20px;
                        height: 65px;
                        outline-style: none;
                        border: 2px solid white;
                        font-family: 'Times New Roman', Times, serif;
                        background-color: inherit;
                        color: white;
                        text-indent: 15px;
                    }
                    input::placeholder {
                        color: white;
                        text-indent: 15px;
                    }
                    input::selection {
                        background-color: #d6fa53;
                        color: black;
                    }
                }
            }
            .icons {
                margin-top: 7px;
                border-bottom: 1px solid #918F8F;
                width: 82%;
                margin-left: 9%;
                padding-bottom: 10px;
                a {
                    color: black;
                    text-decoration: none;
                    margin-left: 10px;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: 20px;
                }
                a:hover {
                    color: #91B40D;
                    transition: all 300ms;
                }
                .phone-number {
                    i {
                        color: #91B40D;
                    }
                    a:hover i {
                        animation-name: ring;
                        animation-duration: 150ms;
                        animation-iteration-count: 5;
                        animation-timing-function: ease-in;
                    }
                    @keyframes ring {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(25deg);
                        }
                        50% {
                            transform: rotate(0eg);
                        }
                        75% {
                            transform: rotate(-25deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            .header-links {
                box-sizing: border-box;
                width: 82%;
                margin-left: 9%;
                padding-bottom: 10px;
                .links {
                    .search-icon {
                        a {
                            color: black;
                            text-decoration: none;
                            margin-left: 10px;
                            font-family: 'Cormorant Garamond', serif;
                            font-size: 25px;
                        }
                    }
                    .link {
                        a {
                            color: black;
                            text-decoration: none;
                            margin-left: 10px;
                            font-family: 'Cormorant Garamond', serif;
                            font-size: 25px;
                        }
                        a {
                            position: relative;
                        }
                        a::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            border-radius: 2px;
                            background-color: #91B40D;
                            bottom: 0;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }
                        a::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            border-radius: 2px;
                            background-color: #91B40D;
                            top: 0;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }
                        a:hover::before {
                            transform-origin: center;
                            transform: scaleX(1);
                            color: #91B40D;
                        }
                        a:hover::after {
                            transform-origin: center;
                            transform: scaleX(1);
                            color: #91B40D;
                        }
                    }
                }
            }
        }
        .body-image {
            position: relative;
            .tree {
                position: absolute;
                right: 100px;
                top: 350px;
            }
        }
        .whoweare {
            .container {
                display: flex;
                .text {
                    .header-text {
                        text-align: center;
                        font-family: $font-family;
                        font-size: 30px;
                        font-weight: bold;
                    }
                    .text-center {
                        font-family: $font-family;
                        font-weight: 700;
                    }
                    .imgs {
                        .row {
                            .col-3 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                span {
                                    font-family: $font-family;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                .image {
                    margin-top: 70px;
                    margin-left: 70px;
                    img:hover {
                        box-shadow: 0px 0px 15px 2px #212121;
                        border-radius: 15px;
                        transform: scale(1.1);
                        transition: all 1s;
                    }
                }
            }
        }
        .services {
            margin-top: 80px;
            .header-service {
                font-size: 25px;
                font-family: $font-family;
                font-weight: bold;
            }
            .row {
                margin-left: 40px;
                .col-4 {
                    font-family: $font-family;
                    // margin-left: 1px;
                    .header {
                        font-size: 20px;
                        font-weight: 900;
                        color: #1A5221;
                    }
                }
            }
        }
        .gallery {
            margin-top: 80px;
            .gallery-header {
                font-size: 25px;
                font-family: $font-family;
                font-weight: bold;
            }
            .images {
                margin-top: 120px;
                .row {
                    .different-img {
                        margin-top: -80px;
                    }
                    img {
                        padding: 15px;
                    }
                    img:hover {
                        transform: scale(1.1);
                        transition: all 1s;
                    }
                }
            }
            .three-dots {
                display: flex;
                justify-content: center;
                span {
                    margin-left: 5px;
                    width: 15px;
                    height: 15px;
                    background-color: #b0bc82;
                    border-radius: 50%;
                }
                .colored {
                    background-color: #91B40D;
                }
                span:hover {
                    background-color: #91B40D;
                    transition: all 1s;
                }
            }
        }
        .content-footer {
            .contents {
                background-color: #F3F3F3;
                .linksAndIcon {
                    width: 100%;
                    height: 367px;
                    display: flex;
                    justify-content: space-evenly;
                    box-sizing: border-box;
                    .icon {
                        margin-top: 50px;
                    }
                    .links {
                        align-self: flex-start;
                        display: flex;
                        justify-content: space-between;
                        ul {
                            margin-left: 50px;
                            list-style-type: none;
                            font-family: $font-family;
                            p {
                                font-weight: bolder;
                                font-size: 20px;
                            }
                            li {
                                padding-bottom: 15px;
                                a {
                                    text-decoration: none;
                                    color: #918F8F;
                                    font-weight: 900;
                                }
                                a:hover {
                                    color: #91B40D;
                                    transition: all 1s;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-top: 1px solid #918F8F;
                    background-color: #F3F3F3;
                    p {
                        margin-top: 5px;
                        font-family: $font-family;
                        font-size: large;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}