@media (max-width: 415px) {
  .main {
    width: 100%;
    overflow: hidden; }
    .main .header .menu-for-mobile {
      z-index: 200;
      display: none;
      position: fixed;
      top: 0px;
      width: 50%; }
      .main .header .menu-for-mobile .icons {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: 25px;
        border-bottom: 1px solid; }
        .main .header .menu-for-mobile .icons img {
          margin: 15px;
          transform: scale(0.9); }
        .main .header .menu-for-mobile .icons i {
          margin-top: 15px; }
      .main .header .menu-for-mobile .options {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        font-size: 15px; }
        .main .header .menu-for-mobile .options ul {
          margin-left: 20px; }
          .main .header .menu-for-mobile .options ul li {
            list-style-type: none;
            margin-top: 25px; }
            .main .header .menu-for-mobile .options ul li a {
              text-decoration: none;
              color: black; }
      .main .header .menu-for-mobile .social-media-icon-for-menu {
        display: flex;
        font-size: 15px;
        justify-content: space-evenly; }
        .main .header .menu-for-mobile .social-media-icon-for-menu a {
          color: #b6e608; }
    .main .header .searchArea {
      z-index: 500; }
      .main .header .searchArea .form {
        left: 50px;
        border-radius: 5px; }
    .main .header .header-links .links {
      display: none; }
    .main .header .header-links .responsive-icons {
      display: inline; }
      .main .header .header-links .responsive-icons a {
        color: black;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 25px; }
    .main .body-image .img-fluid {
      height: 220px; }
    .main .body-image .tree {
      width: 150px;
      height: 150px;
      top: 130px;
      right: 30px; }
    .main .products {
      background-size: 140% 15%;
      height: 2500px;
      overflow: hidden; }
      .main .products .options {
        display: flex;
        margin-left: -40px; }
        .main .products .options a {
          font-size: 12px;
          font-weight: bold;
          display: inline; }
      .main .products .container .row {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main .products .container .row .col-1 {
          margin-top: 20px;
          width: 85%; }
          .main .products .container .row .col-1 img {
            margin-left: 25%; }
    .main .content-footer {
      margin-top: 50px; }
      .main .content-footer .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .main .content-footer .contents .linksAndIcon {
          display: flex;
          flex-direction: column;
          font-size: 15px; }
          .main .content-footer .contents .linksAndIcon .icon {
            margin-left: 65px; }
          .main .content-footer .contents .linksAndIcon .links {
            margin-top: 30px;
            margin-left: -70px; }
            .main .content-footer .contents .linksAndIcon .links ul p {
              font-size: 15px;
              margin-bottom: 0px; }
            .main .content-footer .contents .linksAndIcon .links ul li {
              margin-top: -2px;
              padding: 0px; }
              .main .content-footer .contents .linksAndIcon .links ul li a {
                font-size: 10px; }
    .main .back-upper {
      right: 30px; } }

/*# sourceMappingURL=responsive.css.map */
