@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap");
* ::-webkit-scrollbar {
  width: 10px; }
* ::-webkit-scrollbar-track {
  background: #f1f1f1; }
* ::-webkit-scrollbar-thumb {
  background: #91B40D; }
* .main .header .menu-for-mobile {
  display: none;
  width: 25%;
  position: fixed;
  box-sizing: border-box;
  left: 0px;
  z-index: 1;
  background-color: white;
  height: 100%; }
  * .main .header .menu-for-mobile .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 45px;
    border-bottom: 1px solid; }
    * .main .header .menu-for-mobile .icons img {
      margin: 25px;
      transform: scale(1.3); }
    * .main .header .menu-for-mobile .icons i {
      margin: 15px; }
  * .main .header .menu-for-mobile .options {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 30px; }
    * .main .header .menu-for-mobile .options ul {
      margin-left: 40px; }
      * .main .header .menu-for-mobile .options ul li {
        list-style-type: none;
        margin-top: 35px; }
      * .main .header .menu-for-mobile .options ul li::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #d6fa53;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out; }
      * .main .header .menu-for-mobile .options ul li:hover {
        transform-origin: center;
        transform: scaleX(1); }
* .main .header .searchArea {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8); }
  * .main .header .searchArea i {
    right: 40px;
    top: 40px;
    font-size: 35px;
    color: white; }
  * .main .header .searchArea i:hover {
    color: #df4759;
    cursor: pointer; }
  * .main .header .searchArea .form {
    position: relative;
    left: auto;
    top: 300px;
    left: 200px; }
    * .main .header .searchArea .form span {
      display: flex;
      font-family: 'Cormorant Garamond', serif;
      font-size: 30px;
      width: 165px;
      height: 65px;
      background-color: black;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      background-color: white;
      border: 2px solid white;
      color: black;
      font-weight: bold; }
    * .main .header .searchArea .form span:hover {
      background-color: #155715;
      color: white; }
    * .main .header .searchArea .form input {
      font-family: 'Cormorant Garamond', serif;
      font-size: 20px;
      height: 65px;
      outline-style: none;
      border: 2px solid white;
      font-family: 'Times New Roman', Times, serif;
      background-color: inherit;
      color: white;
      text-indent: 15px; }
    * .main .header .searchArea .form input::placeholder {
      color: white;
      text-indent: 15px; }
    * .main .header .searchArea .form input::selection {
      background-color: #d6fa53;
      color: black; }
* .main .header .icons {
  margin-top: 7px;
  border-bottom: 1px solid #918F8F;
  width: 82%;
  margin-left: 9%;
  padding-bottom: 10px; }
  * .main .header .icons a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px; }
  * .main .header .icons a:hover {
    color: #91B40D;
    transition: all 300ms; }
  * .main .header .icons .phone-number i {
    color: #91B40D; }
  * .main .header .icons .phone-number a:hover i {
    animation-name: ring;
    animation-duration: 150ms;
    animation-iteration-count: 5;
    animation-timing-function: ease-in; }
@keyframes ring {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(25deg); }
  50% {
    transform: rotate(0eg); }
  75% {
    transform: rotate(-25deg); }
  100% {
    transform: rotate(0deg); } }
* .main .header .header-links {
  box-sizing: border-box;
  width: 82%;
  margin-left: 9%;
  padding-bottom: 10px; }
  * .main .header .header-links .responsive-icons {
    display: none; }
  * .main .header .header-links .links .large-screen-icons {
    display: inline; }
    * .main .header .header-links .links .large-screen-icons a {
      color: black;
      text-decoration: none;
      margin-left: 10px;
      font-family: 'Cormorant Garamond', serif;
      font-size: 25px; }
  * .main .header .header-links .links .link a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px; }
  * .main .header .header-links .links .link a {
    position: relative; }
  * .main .header .header-links .links .link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #91B40D;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; }
  * .main .header .header-links .links .link a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #91B40D;
    top: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out; }
  * .main .header .header-links .links .link a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
    color: #91B40D; }
  * .main .header .header-links .links .link a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
    color: #91B40D; }
* .main .body-image {
  position: relative; }
  * .main .body-image .tree {
    position: absolute;
    right: 100px;
    top: 350px; }
* .main .products {
  background-image: url("./images/services/Component 2 – 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  font-family: 'Cormorant Garamond', serif; }
  * .main .products .content {
    position: relative;
    top: 180px; }
  * .main .products .options {
    justify-content: center; }
    * .main .products .options a {
      margin-left: 50px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: larger; }
    * .main .products .options a:hover {
      color: #91B40D; }
  * .main .products .container .row {
    display: flex;
    justify-content: space-between; }
    * .main .products .container .row .col-1:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: all 1s; }
    * .main .products .container .row .col-1 {
      width: 200px;
      height: 200px;
      border-radius: 15px; }
      * .main .products .container .row .col-1 img {
        width: 150px;
        height: 150px; }
      * .main .products .container .row .col-1 .subtitle {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 15px; }
        * .main .products .container .row .col-1 .subtitle .h6 {
          font-weight: bold;
          font-size: 15px; }
        * .main .products .container .row .col-1 .subtitle .color {
          color: #91B40D;
          font-weight: bold;
          font-size: 10px; }
          * .main .products .container .row .col-1 .subtitle .color span {
            font-size: 15px; }
          * .main .products .container .row .col-1 .subtitle .color i {
            font-weight: bold; }
* .main .content-footer {
  margin-top: 0px; }
  * .main .content-footer .contents {
    background-color: #F3F3F3; }
    * .main .content-footer .contents .linksAndIcon {
      width: 100%;
      height: 367px;
      display: flex;
      justify-content: space-evenly;
      box-sizing: border-box; }
      * .main .content-footer .contents .linksAndIcon .icon {
        margin-top: 50px; }
      * .main .content-footer .contents .linksAndIcon .links {
        align-self: flex-start;
        display: flex;
        justify-content: space-between; }
        * .main .content-footer .contents .linksAndIcon .links ul {
          margin-left: 50px;
          list-style-type: none;
          font-family: "Cormorant Garamond", serif; }
          * .main .content-footer .contents .linksAndIcon .links ul p {
            font-weight: bolder;
            font-size: 20px; }
          * .main .content-footer .contents .linksAndIcon .links ul li {
            padding-bottom: 15px; }
            * .main .content-footer .contents .linksAndIcon .links ul li a {
              text-decoration: none;
              color: #918F8F;
              font-weight: 900; }
            * .main .content-footer .contents .linksAndIcon .links ul li a:hover {
              color: #91B40D;
              transition: all 1s; }
    * .main .content-footer .contents .line {
      border-top: 1px solid #918F8F;
      background-color: #F3F3F3; }
      * .main .content-footer .contents .line p {
        margin-top: 5px;
        font-family: "Cormorant Garamond", serif;
        font-size: large;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
