@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap');
$font-family: 'Cormorant Garamond',
serif;
$font-size:25px;
* {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
     ::-webkit-scrollbar-thumb {
        background: #91B40D;
    }
    .main {
        .header {
            .menu-for-mobile {
                display: none;
                width: 25%;
                position: fixed;
                box-sizing: border-box;
                left: 0px;
                z-index: 1;
                background-color: white;
                height: 100%;
                .icons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    font-size: 45px;
                    img {
                        margin: 25px;
                        transform: scale(1.3);
                    }
                    i {
                        margin: 15px;
                    }
                    border-bottom: 1px solid;
                    // align-items: center;
                }
                .options {
                    font-family: 'Cormorant Garamond', serif;
                    font-weight: 600;
                    font-size: 30px;
                    ul {
                        margin-left: 40px;
                        li {
                            list-style-type: none;
                            margin-top: 35px;
                        }
                        li::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            border-radius: 2px;
                            background-color: #d6fa53;
                            bottom: 0;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }
                        li:hover {
                            transform-origin: center;
                            transform: scaleX(1);
                        }
                    }
                }
            }
            .searchArea {
                display: none;
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                i {
                    right: 40px;
                    top: 40px;
                    font-size: 35px;
                    color: white;
                }
                i:hover {
                    color: #df4759;
                    cursor: pointer
                }
                .form {
                    position: relative;
                    left: auto;
                    top: 300px;
                    left: 200px;
                    span {
                        display: flex;
                        font-family: 'Cormorant Garamond', serif;
                        font-size: 30px;
                        width: 165px;
                        height: 65px;
                        background-color: black;
                        justify-content: center;
                        align-items: center;
                        font-weight: 100;
                        background-color: white;
                        border: 2px solid white;
                        color: black;
                        font-weight: bold;
                    }
                    span:hover {
                        background-color: rgb(21, 87, 21);
                        color: white;
                    }
                    input {
                        font-family: 'Cormorant Garamond', serif;
                        font-size: 20px;
                        height: 65px;
                        outline-style: none;
                        border: 2px solid white;
                        font-family: 'Times New Roman', Times, serif;
                        background-color: inherit;
                        color: white;
                        text-indent: 15px;
                    }
                    input::placeholder {
                        color: white;
                        text-indent: 15px;
                    }
                    input::selection {
                        background-color: #d6fa53;
                        color: black;
                    }
                }
            }
            .icons {
                margin-top: 7px;
                border-bottom: 1px solid #918F8F;
                width: 82%;
                margin-left: 9%;
                padding-bottom: 10px;
                a {
                    color: black;
                    text-decoration: none;
                    margin-left: 10px;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: 20px;
                }
                a:hover {
                    color: #91B40D;
                    transition: all 300ms;
                }
                .phone-number {
                    i {
                        color: #91B40D;
                    }
                    a:hover i {
                        animation-name: ring;
                        animation-duration: 150ms;
                        animation-iteration-count: 5;
                        animation-timing-function: ease-in;
                    }
                    @keyframes ring {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(25deg);
                        }
                        50% {
                            transform: rotate(0eg);
                        }
                        75% {
                            transform: rotate(-25deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            .header-links {
                box-sizing: border-box;
                width: 82%;
                margin-left: 9%;
                padding-bottom: 10px;
                .responsive-icons {
                    display: none;
                }
                .links {
                    .large-screen-icons {
                        display: inline;
                        a {
                            color: black;
                            text-decoration: none;
                            margin-left: 10px;
                            font-family: 'Cormorant Garamond', serif;
                            font-size: 25px;
                        }
                    }
                    .link {
                        a {
                            color: black;
                            text-decoration: none;
                            margin-left: 10px;
                            font-family: 'Cormorant Garamond', serif;
                            font-size: 25px;
                        }
                        a {
                            position: relative;
                        }
                        a::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            border-radius: 2px;
                            background-color: #91B40D;
                            bottom: 0;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }
                        a::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            border-radius: 2px;
                            background-color: #91B40D;
                            top: 0;
                            left: 0;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }
                        a:hover::before {
                            transform-origin: center;
                            transform: scaleX(1);
                            color: #91B40D;
                        }
                        a:hover::after {
                            transform-origin: center;
                            transform: scaleX(1);
                            color: #91B40D;
                        }
                    }
                }
            }
        }
        .body-image {
            position: relative;
            .tree {
                position: absolute;
                right: 100px;
                top: 350px;
            }
        }
        .social {
            background-image: url("./images/services/Component\ 2\ –\ 1.png");
            // background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 400px;
            .content {
                position: relative;
                top: 200px;
                .texts {
                    p {
                        font-family: $font-family;
                        font-weight: 500;
                        font-size: larger;
                    }
                }
            }
        }
        .content-footer {
            margin-top: 20px;
            .contents {
                background-color: #F3F3F3;
                .linksAndIcon {
                    width: 100%;
                    height: 367px;
                    display: flex;
                    justify-content: space-evenly;
                    box-sizing: border-box;
                    .icon {
                        margin-top: 50px;
                    }
                    .links {
                        align-self: flex-start;
                        display: flex;
                        justify-content: space-between;
                        ul {
                            margin-left: 50px;
                            list-style-type: none;
                            font-family: $font-family;
                            p {
                                font-weight: bolder;
                                font-size: 20px;
                            }
                            li {
                                padding-bottom: 15px;
                                a {
                                    text-decoration: none;
                                    color: #918F8F;
                                    font-weight: 900;
                                }
                                a:hover {
                                    color: #91B40D;
                                    transition: all 1s;
                                }
                            }
                        }
                    }
                }
                .line {
                    border-top: 1px solid #918F8F;
                    background-color: #F3F3F3;
                    p {
                        margin-top: 5px;
                        font-family: $font-family;
                        font-size: large;
                        font-weight: bold;
                    }
                }
            }
        }
        .back-upper {
            background-color: #FFBF00;
            width: 45px;
            height: 45px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            display: flex;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            i {
                font-size: 35px;
                color: white;
            }
        }
    }
}